<ion-view title="Lion's Den"  >
  <ion-content>
      <div class= "col col-100" >
        <div class="row">
        </div>
        <img class="avatar2" src="/img/AfricanLion.png">
        <br>
        <br>
        <div id= "fontID">
        <center> "The roar of a male lion can be heard five miles
           away, and their mane is not only for demonstration, but
            protection in fights with other males and sometimes hyenas.
             Although males are called King of the Beasts, in a lion
             pride it is the females doing the hunting for the entire
             group." </center>
        </div>
      </div>
  </ion-content>
</ion-view>
