<ion-view view title="Report A Problem">
  <ion-content class>
   <div id= "fontID">
    <div class="list list-inset">
<div id= "fontID">
    <div class="list list-inset">

      <label class="item item-input custom-blue">
      <span  class="input-label" id="usernameFont">Name</span>
      <input ng-model="user.FullName" type="text">
      </label>
      <label class="item item-input custom-blue">
      <span class="input-label" id="usernameFont">Username</span>
      <input ng-model="user.Username" type="text">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
    </label>
      <br>
      </div>
      <div style="width: 70%; float:right">
        <button class="button custom-blue">
        Report Problem
        </button>
      </div>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
