<ion-view title="Animals"  >
  <ion-content>
      <div class= "col col-100" >
        <div class="row">
        </div>
        <img class="avatar2" src="/img/AfricanLion.png">
        <div id= "fontID">
        <center>  The roar of a male lion can be heard five miles away, and their mane is
          not only for demonstration, but protection in fights with other males and sometimes hyenas.
          Although males are called King of the Beasts, in a lion pride it is the females doing the hunting
          for the entire group.</center>
        </div>
        <br>
        <img class="avatar2" src="/img/Chimpanzee.png">
        <div id= "fontID">
        <center> Chimpanzees are intelligent and very social animals.
          They live in large troops that may number 50 individuals or more.
          Troops are led by a dominant, or alpha, male and female, and the
          hierarchy is maintained through posture, facial expressions, sounds,
          gestures and fights. Tool use is well documented in chimpanzees, with
          chimps creating tools to help them find food (using a small twig to fish
          out termites or smashing nuts that are too hard to crack between two rocks),
          obtain and transport water by chewing leaves and then soaking up water with them,
          and even using rocks and limbs to threaten other animals.</center>
        </div>
      </div>

  </ion-content>
</ion-view>
