<ion-content class="login">
  <div class="head">
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="list">
    <input type="email" placeholder="Email Address">
    </label>
    <label class="item item-input">
    <input type="password" placeholder="Password">
    </label>
    <button class="button button-block button-assertive"ng-click="login()">Login
    </button>
  </div>
</ion-content>