<ion-content class="login">
  <div class="head">
  <br>
    <img class="avatar3" src="https://s-media-cache-ak0.pinimg.com/originals/68/1d/47/681d47a1b02df40e1e33bc202f2263c5.jpg"></img>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="list">
    <input type="email" placeholder="Email Address">
    </label>
    <label class="item item-input">
    <input type="password" placeholder="Password">
    </label>
    <button class="button button-block button-assertive"ng-click="login()">Login
    </button>
  </div>
</ion-content>