<ion-view view-title="Edit Profile">
  <ion-content >
  <div id= "fontID">
    <div class="list list-inset">

      <label class="item item-input">
      <span  class="input-label">Name</span>
      <input ng-model="fullName" type="text">
      </label>
      <label class="item item-input">
      <span class="input-label">Username</span>
      <input ng-model="username" type="text">
      </label>
      <label class="item item-input">
      <span class="input-label">Email</span>
      <input  ng-model="newEmail" type="text">
      </label>
      <label class="item item-input">
      <span class="input-label">Number</span>
      <input  ng-model="number" type="tel">
      </label>
    </ion-list>
  </div>
    <br>
    <div id= "fontID" style="width: 58%; float:right">
      <button class="button custom-blue">
      Save
      </button>
    </div>
  </ion-content>
</ion-view>
