<ion-view view title="Liked Pictures">
  <ion-content>
    <div style="width: 50%; float:right">
      <img class="avatar2" src="http://rs291.pbsrc.com/albums/ll306/monarchlover10/100_3326.jpg~c200">
      <br>
      <br>
      <img class="avatar2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOMIYQ-ZluWCXp0Yvfo7dNFAkUJgIfGRxqRE8mMKqGhxyWlWk9DQ">
      <br>
      <br>
    </div>
    <div style="width: 50%; float:left">
      <img class="avatar2" src="http://www.gannett-cdn.com/-mm-/88b26596e028f3ca0e22551707486c163acad2f8/c=0-0-480-480&r=x203&c=200x200/http/wcnc-download.edgesuite.net/archive/images/012510-Carowinds%20Intimidator.jpg">
      <br>
      <br>
      <img class="avatar2" src="http://www.gannett-cdn.com/-mm-/df9c9219a66d5e1a9da24b1209806af9767f509e/c=67-0-468-400&r=x203&c=200x200/local/-/media/WFMY/WFMY/2014/08/21/1408652761000-carowinds.png">
      <br>
      <br>
      <img class="avatar2" src="http://www.gannett-cdn.com/-mm-/88b26596e028f3ca0e22551707486c163acad2f8/c=0-0-480-480&r=x203&c=200x200/http/wcnc-download.edgesuite.net/archive/images/windseeker%20sized%20right%20carowinds%201.jpg">
      <br>
      <br>
    </div>
  </ion-content>
</ion-view>