<ion-view view title="Liked Pictures">
  <ion-content>
    <div class="row">
      <div class= "col col-50">
        <img class="avatar2" src="http://wbtv.images.worldnow.com/images/21848655_BG1.jpg">
        <div>
          <i class="icon ion-thumbsup"></i>
          <font size="1">6</font>
        </div>
      </div>
      <div class= "col col 50">
        <img class="avatar2" src="http://localtvwghp.files.wordpress.com/2013/07/gorilla-baby-maleinsert.jpg?w=770">
        <div>
          <i class="icon ion-thumbsup"></i>
          <font size="1">1</font>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col col-50">
        <img class="avatar2" src="http://www.nczoo.com/Portals/0/get-involved-pic.jpg">
        <div>
          <i class="icon ion-thumbsup"></i>
          <font size="1">6</font>
        </div>
      </div>
      <div class= "col col 50">
        <img class="avatar2" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSRriWiFMdeF1Ckg27_RclQISAGa88BmX-gwbJVKOlKY7LvCuW0NQ">
        <div>
          <i class="icon ion-thumbsup"></i>
          <font size="1">1</font>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "col col-50">
        <img class="avatar2" src="http://www.nczoo.com/Portals/0/zoo-in-action-pic.jpg">
        <div>
          <i class="icon ion-thumbsup"></i>
          <font size="1">6</font>
        </div>
      </div>
      </div>
  </ion-content>
</ion-view>