<ion-view view title="Change Password">
  <ion-content class>
    <br>
    <div id= "usernameFont">
    <center> Change your password to something easy to remember! </center>
    </div>
    <br>
    <br>
    <ion-list>
      <label class="item item-input">
      <input type="text" id = "usernameFont" placeholder="Current Password">
      </label>
      <label class="item item-input">
      <input type="text" placeholder="New Password">
      </label>
      <label class="item item-input">
      <input type="text" placeholder="Repeat New Password">
      </label>
    </ion-list>
    <br>
    <div id= "fontID" style="width: 60%; float:right">
      <button class="button custom-blue">
      Save
      </button>
    </div>
  </ion-content>
</ion-view>