<ion-view view-title="Edit Profile">
  <ion-content class>
  <div id= "fontID">
    <div class="list list-inset">

      <label class="item item-input custom-blue">
      <span  class="input-label" id="usernameFont">Name</span>
      <input ng-model="user.FullName" type="text">
      </label>
      <label class="item item-input custom-blue">
      <span class="input-label" id="usernameFont">Username</span>
      <input ng-model="user.Username" type="text">
      </label>
      <label class="item item-input custom-blue">
      <span class="input-label" id="usernameFont">Email</span>
      <input  ng-model="user.Email" type="text">
      </label>
      <label class="item item-input custom-blue">
      <span class="input-label" id="usernameFont">Number</span>
      <input  ng-model="user.PhoneNumber" type="tel">
      </label>
  </div>
    <br>
    <div id= "fontID" style="width: 58%; float:right">
      <button class="button custom-blue">
      Save
      </button>
    </div>
  </ion-content>
</ion-view>
