<ion-view title="NC Zoo"  >
  <ion-content>
    <div id= "fontID" class="row" ng-repeat="photo in appPhotos | orderBy: '-ID'"> 
      <div class= "col col-100" >
        <div class="row">
          <div class="col col-50">
             <i id= "fontID">{{photo.Username}}</i>
          </div>
          <div class="col col-50 text-right">
             <i>{{photo.Date}}</i>
          </div>
        </div>
        <img class="avatar2" src="{{photo.PicSource}}">
        <div id= "fontID" class="row">
          <div class="col col-80">
            <button class="button button-small button-clear" ng-click="likePic({{photo}})">  
            <img ng-show="isLiked({{photo}})" src="/img/clicked.png">
              <img ng-show="!isLiked({{photo}})" src="/img/notclicked.png">   
              <font size="1" id= "fontID">{{photo.Likes.length}}</font>
            </button>
            <i>{{photo.Caption}}</i>
          </div>
          <div class="col col-20 text-right"> 
            <button class="button button-small button-clear" ui-sref="tab.home-comments">
               <img src="/img/comments.png">
            </button>
          </div>
        </div>  
      </div>
    </div>
  </ion-content>
</ion-view> 
