<ion-view title="NC Zoo"  >
  <ion-content >
    <div id= "fontID" class="row" ng-repeat="photo in appPhotos | orderBy: '-ID'"> 
      <div class= "col col-100" >
        <div class="row">
          <div class="col col-50">
             <i id= "usernameFont">{{photo.Username}}</i>
          </div>
          <div class="col col-50 text-right">
             <i>{{photo.Date}}</i>
          </div>
        </div>
        <img class="avatar2" src="{{photo.PicSource}}">
        <div id= "fontID" class="row">
          <div class="col col-80">
            <button ng-class="{'button button-small button-assertive': photo.isLiked, 'button button-small button-light': !photo.isLiked}">  
              <span class="icon ion-thumbsup"></span>    
              <font size="1">{{photo.Likes.length}}</font>
            </button>
            <i>{{photo.Caption}}</i>
          </div>
          <div class="col col-20 text-right"> 
            <button class="button button-small button-light">
              <span class="icon ion-compose"></span>
            </button>
          </div>
        </div>  
      </div>
    </div>
  </ion-content>
</ion-view> 
