<ion-view  padding ="true" view-title="New Post" >
<ion-content class="padding">
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>"Square Camera Box Here"</center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id= "fontID" style="width: 65%; float:right">
  <br>
    <button class="button button-assertive">
    Take Photo
    </button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
      </label>
  <br>
  <ul class="list">
  <div id= "fontID" style="width: 100%; float:right">
    <br>

    <a class="item item-icon-right" href="#" ui-sref="tab.attractions-tag">
        Tag Attraction
        <i class="icon ion-chevron-right"></i>
      </a>
    <li class="item item-toggle">
    Add to Map
    <label class="toggle toggle-assertive">
    <input type="checkbox">
    <div class="track">
    <div class="handle"></div>
    </div>
    </label>
    </li>
  </div>
  <!--<button ng-click="takePicture();">Capture Photo</button> <br>
    <button ng-click="capturePhotoEdit();">Capture Editable Photo</button> <br>
    <button ng-click="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
    <button ng-click="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
    <img style="display:none;" id="largeImage" src="" />-->
</ion-content>
</ion view>