<ion-view view-title="Map">
  <ion-content class="padding">
    <html>    
    <body>
  
        
       	<right><button onclick="Atom.style.zoom='200%'"><i class="icon ion-plus-round"></i></button></right>

        <br>
        <right><button onclick="Atom.style.zoom='100%'"><i class="icon ion-minus-round"></i></button></right>

        <div id="Atom" style="width: 780px; height:780px; background-color: White; float:center">
         <center><img src="https://www.carowinds.com/images/uploads/image/Screen%20Shot%202015-03-17%20at%209_51_07%20AM.png"></img></center>   
        </div>

        <br>
    </body>
</html>
  </ion-content>
</ion-view>
