<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off= "ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name ="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="Notifications" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/notifications">
    <ion-nav-view name ="tab-notifications"></ion-nav-view>
  </ion-tab>
  
  <!-- Camera Tab 
  <ion-tab title="Post" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera"  ng-click="takePicture()">

    <ion-nav-view name =""> <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    </ion-nav-view>
  </ion-tab>-->
<ion-tab title="Post" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camera" ng-click="takePic()">
    <ion-nav-view name ="tab-camera"></ion-nav-view>
  </ion-tab>


  <!-- Profile Tab --> 
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name ="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab --> 
   <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name ="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab 
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>  -->

  <!-- Chats Tab 
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Account Tab 
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
