/* Empty. Add your own CSS if you like */
.avatar {
    width:108px;
    margin: 5px;
    border:5px none;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
}
.avatar1 {
	 width:50px;
    margin: 5px;
    border:7px none;
    border-radius: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.avatar2{
     width:150px;
}
p {
    margin-top:5px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:0px;

}

